/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption,
dialog {
  margin: 0;
  padding: 0;
}

body,
textarea,
button,
img,
fieldset,
dialog {
  border: none;
}

textarea {
  resize: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

u,
ins,
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/* Normalize */
input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

html,
body {
  font-family: "Manrope", sans-serif;
}

.heading-xxl {
  color: #000;
  font-size: 64px;
  font-weight: 800;
  line-height: 82px;
  word-break: break-all;
}

.heading-xxl2 {
  color: #2e2e2e;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  word-break: break-all;
}

.heading-xl {
  color: #000;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  word-break: break-all;
}

.heading-lg {
  color: #000;
  font-size: 36px;
  font-weight: 800;
  word-break: break-all;
}

.heading-sm {
  color: #000;
  font-size: 24px;
  font-weight: 800;
  word-break: break-all;
}

@media (600px < width < 1399px) {
  .heading-xxl2 {
    font-size: 58px;
    line-height: 59.5px;
  }
}
@media (600px < width < 1399px) {
  .heading-xxl {
    font-size: 56px;
    line-height: 73.5px;
  }
}
@media (600px < width < 1399px) {
  .heading-lg {
    font-size: 56px;
    line-height: 73.5px;
  }
}
@media (width < 599px) {
  .heading-xxl2 {
    font-size: 36px;
    line-height: 41.5px;
  }
}
@media (width < 599px) {
  .heading-xxl {
    font-size: 42px;
    line-height: 57.5px;
  }
}
@media (width < 599px) {
  .heading-lg {
    font-size: 24px;
  }
}
@media (width < 599px) {
  .heading-xl {
    font-size: 36px;
    font-weight: 47px;
  }
}
.text-xl {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 39.5px;
  letter-spacing: 0.2px;
}

.text-lg {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.2px;
}

.text-sm {
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.text-md {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
}

@media (600px < width < 1399px) {
  .text-lg {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (600px < width < 1399px) {
  .text-md {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (600px < width < 1399px) {
  .text-sm {
    font-size: 14px;
    line-height: 28.5px;
  }
}
@media (width < 599px) {
  .text-lg {
    font-size: 12px;
    line-height: 23px;
  }
}
@media (width < 599px) {
  .text-xl {
    font-size: 12px;
    line-height: 22px;
  }
}
@media (width < 599px) {
  .text-md {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
  }
}
@media (width < 599px) {
  .text-sm {
    font-size: 14px;
    line-height: 28.5px;
  }
}
input:not([type=radio], [type=checkbox]), select {
  width: var(--w, auto);
  height: 40px;
  border: 1px solid #dee1e4;
  background: #fff;
  box-sizing: border-box;
}

select {
  background: url(../images/select.svg) no-repeat right 18px center;
  appearance: none;
  padding: 0 30px 0 18px;
}

.radio {
  display: none;
}
.radio + label {
  background: url(../images/radio_off.svg) no-repeat left;
  display: inline-flex;
  height: 19px;
  color: #969696;
  padding-left: 21px;
  font-size: 13px;
}
.radio:checked + label {
  background: url(../images/radio_on.svg) no-repeat left;
  color: #3f3f3f;
}

.checkbox {
  display: none;
}
.checkbox + label {
  background: url(../images/check_off.svg) no-repeat left;
  display: inline-flex;
  height: 22px;
  color: #000;
  padding-left: 28px;
  font-size: 16px;
}
.checkbox:checked + label {
  background: url(../images/check_on.svg) no-repeat left;
  color: #000;
}

.btn.red {
  background: #f84646;
  color: #fff;
}
.btn.sm {
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 5px;
}
.btn.lg {
  height: 61px;
  padding: 0 37px;
  font-size: 16px;
  border-radius: 8px;
}
.btn.m-width {
  min-width: 160px;
}
.btn.m-width.base {
  height: 48px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 8px;
}

.btn-menu {
  background: url(../images/ico_menu.svg) no-repeat;
  display: none;
  width: 32px;
  height: 32px;
}
@media (width < 599px) {
  .btn-menu {
    display: block;
  }
}

.search {
  width: 502px;
  border-radius: 8px;
  background: #fff;
  padding: 6px;
}
@media (600px < width < 1399px) {
  .search {
    width: 422px;
  }
}
@media (width < 599px) {
  .search {
    width: 100%;
    box-sizing: border-box;
  }
}
.search fieldset {
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr min-content;
  align-items: center;
}
.search input {
  border: none;
  --w: 100%;
}
.search button {
  white-space: nowrap;
}
@media (width < 599px) {
  .search button {
    height: 50px;
  }
}
.search legend {
  display: none;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 83px 116px;
  text-align: center;
}
@media (600px < width < 1399px) {
  .skill-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width < 599px) {
  .skill-list {
    grid-template-columns: 1fr;
    gap: 80px;
  }
}
.skill-list .ico1::before {
  content: url(../images/ico_skill1.svg);
}
.skill-list .ico2::before {
  content: url(../images/ico_skill2.svg);
}
.skill-list .ico3::before {
  content: url(../images/ico_skill3.svg);
}
.skill-list .ico4::before {
  content: url(../images/ico_skill4.svg);
}
.skill-list .ico5::before {
  content: url(../images/ico_skill5.svg);
}
.skill-list .ico6::before {
  content: url(../images/ico_skill6.svg);
}
.skill-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.step {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
}
.step li {
  display: flex;
  align-items: center;
}
.step li + li::before {
  content: "";
  width: 32px;
  height: 32px;
  margin: 0 47px;
  background: url(../images/ico_arrow_right.svg) no-repeat;
}
@media (600px < width < 1399px) {
  .step {
    font-size: 14px;
  }
  .step li {
    display: flex;
    align-items: center;
  }
  .step li + li::before {
    content: "";
    width: 28px;
    height: 28px;
    margin: 0 36px;
    background: url(../images/ico_arrow_right.svg) no-repeat;
  }
}
@media (width < 599px) {
  .step {
    flex-direction: column;
  }
  .step li {
    display: flex;
    align-items: center;
  }
  .step li + li::before {
    content: "";
    width: 36px;
    height: 36px;
    margin: 0 40px;
    background: url(../images/ico_arrow_right.svg) no-repeat;
  }
  .step li {
    flex-direction: column;
  }
  .step ::before {
    transform: rotate(90deg);
    margin: 40px 0 !important;
  }
}

.introduce {
  display: grid;
  gap: 120px;
}
@media (600px < width < 1399px) {
  .introduce {
    padding-inline: 60px;
  }
}
@media (width < 599px) {
  .introduce {
    padding-inline: 20px;
    gap: 20px;
  }
}
.introduce > div {
  display: grid;
  gap: 40px 145px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
}
@media (600px < width < 1399px) {
  .introduce > div {
    gap: 20px 56px;
  }
}
@media (width < 599px) {
  .introduce > div {
    display: block;
    text-align: center;
  }
  .introduce > div h2 {
    margin-top: 30px;
  }
}
.introduce > div:nth-child(odd) .introduce__image {
  grid-column: 2/3;
  justify-self: end;
}
.introduce > div:nth-child(even) .introduce__image {
  grid-column: 1/2;
}
.introduce .btn {
  justify-self: start;
}
@media (600px < width < 1399px) {
  .introduce .btn {
    margin-top: 26px;
  }
}
@media (width < 599px) {
  .introduce .btn {
    margin-top: 40px;
  }
}
.introduce__image {
  grid-row: 1/4;
  border-radius: 8px;
}
@media (600px < width < 1399px) {
  .introduce__image {
    width: 424px;
  }
}
@media (width < 599px) {
  .introduce__image {
    width: 100%;
  }
}

.mt8 {
  margin-top: 8px;
}

.mt20 {
  margin-top: 20px;
}

.mt22 {
  margin-top: 22px;
}

.mt30 {
  margin-top: 30px;
}

.mt33 {
  margin-top: 33px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt64 {
  margin-top: 64px;
}

.mt91 {
  margin-top: 91px;
}

.mt120 {
  margin-top: 120px;
}

.mt140 {
  margin-top: 140px;
}

.center, .skill-list, .introduce {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media (600px < width < 1399px) {
  .center, .skill-list, .introduce {
    width: 100%;
  }
}
@media (width < 599px) {
  .center, .skill-list, .introduce {
    width: 100%;
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.gnb {
  display: flex;
  gap: 40px;
}
.gnb a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
@media (width < 599px) {
  .gnb {
    display: none;
  }
}

.header {
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  width: 1440px;
}
@media (600px < width < 1399px) {
  .header {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }
}
@media (width < 599px) {
  .header {
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.visual__image {
  width: 100%;
  height: 754px;
  object-fit: cover;
}
@media (600px < width < 1399px) {
  .visual__image {
    height: 647px;
  }
}
.visual__info {
  position: absolute;
  left: 84px;
  top: 161px;
}
@media (width < 599px) {
  .visual__info {
    position: absolute;
    left: 20px;
    top: 137px;
    right: 20px;
    text-align: center;
  }
}

@media (600px < width < 1399px) {
  .skills {
    padding: 0 86px;
  }
}
@media (width < 599px) {
  .skills {
    padding: 0 20px;
    margin-top: 60px;
  }
  .skills .mt30 {
    margin-top: 15px;
  }
}

.test-step {
  position: relative;
  text-align: center;
  color: #fff;
  padding-block: 68px 70px;
  background-color: #f84646;
}
@media (600px < width < 1399px) {
  .test-step {
    padding-block: 35px 39px;
  }
  .test-step .mt64 {
    margin: 55px;
  }
  .test-step.mt140 {
    margin-top: 160px;
  }
}
@media (width < 599px) {
  .test-step {
    padding-block: 50px 84px;
  }
  .test-step .mt64 {
    margin: 55px;
  }
  .test-step.mt140 {
    margin-top: 90px;
  }
}
.test-step::before {
  background: url(../images/bg_step.png) no-repeat center/cover;
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: screen;
}
.test-step > * {
  position: relative;
  z-index: 2;
}
.test-step .heading-xl,
.test-step .text-md {
  color: #fff;
}
.test-step .step {
  justify-content: center;
  text-align: left;
}
@media (width < 599px) {
  .test-step .step {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
