.btn {
  @include buttonColor("red");
  @include buttonSize("sm");
  @include buttonSize("lg");
}

.btn-menu {
  @include background("ico_menu.svg", null);
  display: none;
  width: 32px;
  height: 32px;
  @include mobile {
    display: block;
  }
}
